<nav class="p-4 md:flex md:items-center md:justify-between bg-white">
    <strong class="text-2xl flex justify-center p-4 underline md:ml-8 md:text-3xl">Evergreen</strong>
    <div >
        <!-- flex items-center justify-end w-full mr-8 up previous classes -->
        <ul class="text-lg md:flex md:items-center  bg-white w-full left-0 md:w-auto md:py-0 py-4 pr-0 ">
            <li class="mx-8 my-6 md:my-0"><a href="#"class="hover:text-gray-500">Home</a></li>
            <li class="mx-8 my-6 md:my-0"><a href="#"class="hover:text-gray-500">Services</a></li>
            <li class="mx-8 my-6 md:my-0"><a href="#"class="hover:text-gray-500">About Us</a></li>
            <li class="mx-8 my-6 md:my-0"><a href="#"class="hover:text-gray-500">Join Us</a></li>
            <button class="px-4 py-2 text-sm mx-6 text-white bg-green-500 rounded-md hover:bg-green-600">Sign Up</button>
        </ul>
        
    </div>
</nav>

<div class="text-3xl flex justify-center bg-slate-200 w-full mx-4">Welcome, {{firstName}}</div>
<!--heading starts-->
<div class="mx-4 md:flex md:flex-row md:flex-wrap md:justify-between md:m-8">
    <div class="md:justify-between md:w-1/3 md:ml-8">
        <span class="font-semibold text-5xl mt-4 md:flex md:items-center">Make your<img class="inline-block h-14 w-14 md:h-20 md:w-20"
                src="assets/images/spark.jpg" alt="error"></span>
        <span class="md:flex md:flex-row md:items-center text-5xl font-semibold">bussiness shine like a diamond</span>
        <p class="font-semibold mt-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium beatae, nihil
            qui unde
            minima
            cumque sint animi, natus nam israly numquam quod asperiores labore repudiandae dicta commod mod? Suscipit
            amet
            minima
            porro odio commodi? Quibusdam, officiis?</p>
        <div class="button">
            <button
                class="green-button m-8 text-xs px-5 h-10 text-white border border-green-500 bg-green-500 rounded-md">Get
                a demo</button>
            <button class="white-button m-8 text-xs px-5 h-10 bg-white border border-black rounded-md">Learn
                More</button>
        </div>
    </div>

    <div class="flex flex-col justify-center">
        <img  src="assets/images/sitman2.jpeg" alt="error">
            <div class="flex flex-row justify-between m-4">
                <div class="text-xl md:text-3xl font-bold">250<div class="text-xs text-slate-400">Our Happy Costumer </div></div>
                <div class=" text-xl md:text-3xl font-bold">570+<div class="text-xs text-slate-400">Product Portfolio Results</div></div>
            </div>
            <div class="flex flex-row justify-between m-4">
                <div class=" text-xl md:text-3xl font-bold">100+<div class="text-xs text-slate-400">Best Services provided</div></div>
                <div class=" mr-7 text-xl  md:text-3xl font-bold">300+<div class="text-xs text-slate-400">Our Business Partner</div></div>
        </div>
    </div>
    <div
        class=" flex flex-row items-center justify-around border rounded-md shadow-xl md:px-12 mt-12 md:p-4 bg-white md:w-10/12 mx-auto">
        <img class="h-14 w-20 p-1 md:h-16 md:w-28" src="assets/images/google.png" alt="error">
        <img class="h-14 w-20 p-1 md:h-12 md:w-28" src="assets/images/apple.jpg" alt="error">
        <img class="h-14 w-24 p-1 md:h-20 md:w-40" src="assets/images/microsoft.png" alt="error">
        <img class="h-14 w-20 p-1 md:h-16 md:w-28" src="assets/images/slack.png" alt="error">
    </div>
</div>
  
    
<footer class="flex flex-col justify-center mt-28 border w-auto">
    <div class="flex justify-center font-bold text-3xl m-8">Our Services</div>
   <div class="grid grid-cols-2 gap-12 place-content-between mt-12 mx-auto">
    <div class="flex flex-col items-center p-4 md:p-10 w-2/3 border rounded-lg shadow-md ml-20 md:ml-40 xl:ml-56">
        <img class="foot-png h-20 w-20 m-4" src="assets/images/png1.png" alt="error">
        <strong class="foot-haed m-2 ">Learn about Your Creative</strong>
        <div class="foot-mat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci inventore
            tempore quasi! Minus, voluptates?</div>
    </div>
    <div class="flex flex-col items-center p-4 md:p-10 w-2/3 border rounded-lg shadow-md">
        <img class="foot-png h-20 w-20 m-4" src="assets/images/png2.png" alt="error">
        <strong class="foot-haed m-2">Improve Your Creative Performance</strong>
        <div class="foot-mat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci inventore
            tempore quasi! Minus, voluptates?</div>
    </div>
    <div class="flex flex-col items-center p-4 md:p-10 w-2/3 border rounded-lg shadow-md ml-20 md:ml-40 xl:ml-56">
        <img class="foot-png h-20 w-20 m-4" src="assets/images/png3.png" alt="error">
        <strong class="foot-haed m-2 ">Fast & Responsive Result</strong>
        <div class="foot-mat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci inventore
            tempore quasi! Minus, voluptates?</div>
    </div>
    <div class="flex flex-col items-center p-4 md:p-10 w-2/3 border rounded-lg shadow-md">
        <img class="foot-png h-20 w-20 m-4" src="assets/images/png4.png" alt="erroe">
        <strong class="foot-haed m-2">Consistantly Advance Your Marketing</strong>
        <div class="foot-mat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci inventore
            tempore quasi! Minus, voluptates?</div>
    </div>
   </div>
</footer>