body {
    background-color: rgb(221, 234, 241);
}

.box {
    padding: 2rem;
}

.logo {
    height: 6rem;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    padding-left: 5rem;
}

.container {
    margin: 2rem;
}

.box .welcome {
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px
}

.box container user name {
    padding: 12px;
    margin: 12px;
}

.name {
    width: 26rem;
    padding: 8px;
    margin: 1.5rem;
    margin-bottom: 4px;
    /* margin-top:-10; */
    border-radius: 8px;
    padding-left: 3rem;
}

.input-container-email {
    position: relative;
}

.span1 {
    padding-left: 3rem;
}

.span2 {
    padding-left: 3rem;
}

.email-icon {
    position: absolute;
    width: 27px;
    left: 33px;
    top: 29px;
}

.password {
    width: 26rem;
    padding: 8px;
    padding-left: 2rem;
    margin: 1.5rem;
    margin-bottom: 2PX;
    border-radius: 8px;
    padding-left: 3rem;
}

.password-container {
    position: relative;
}

.lock-icon {
    position: absolute;
    width: 25px;
    left: 31px;
    top: 29px;
}

.box {
    height: 25rem;
    width: 34rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 29rem;
    border-radius: 8px;
}

.upper {
    padding: 50px;
    padding-bottom: 1rem;
}

.para {
    color: rgb(157, 157, 157);
    font-size: 16px;
}

.welcome {
    text-align: center;
    margin-top: -5rem;
}

.forgot {
    margin-left: 41rem;
    margin-top: 1rem;
    color: grey;
}

/* 
heading container user {

    margin-left: -18rem;
    margin-top: 4rem; */
/* } */

.button {
    background-color: rgb(58, 58, 228);
    border: none;
    color: white;
    padding: 5px 217px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-top: 25px;
    border-radius: 8px;
    height: 36px;
    margin-left: 1.5rem;
}