<div class="logo">
  <img src="./assets/images/logopng.png" alt="error">
</div>
<div class="box">
<div class="upper">
    <p class="welcome">Welcome Back</p>
    <p class="para">Enter your credentials to access your account</p>
</div>
  <div class="container">
    <form (submit)="btnClick($event)">
      <div class="user">
        <div class="input-container-email">
          <img class="email-icon" src="/assets/images/email.png" alt="email-icon"/>
          <input class="name" name="firstName" type="email" placeholder="Enter your email"></div>
        <div class="password-container">
          <img class="lock-icon" src="/assets/images/lock.png" alt="error">
          <input class="password" type="password" placeholder="Enter your password"></div>
      </div>
      <button class="button">Sign In</button>
    </form>
  </div>
</div>
<div class="forgot">
  Forgot your password? <a href="#">Reset Password</a>
</div>
