<div class="logo">
  <img src="./assets/images/logopng.png" alt="error">
</div>
<div class="box">
<div class="upper">
    <p class="welcome">Welcome Back</p>
    <p class="para">Enter your credentials to access your account</p>
</div>
  <div class="container">
    <form #user="ngForm" (submit)="btnClick($event)">
      <div class="user">
        <div class="input-container-email">
          <img class="email-icon" src="/assets/images/email.png" alt="email-icon"/>
          <input required type="email" class="name" name="firstName" placeholder="Enter your email" ngModel>
        <span *ngIf="errorMessage" class="span1" style="color: red;">{{errorMessage}}</span>
        </div>
        <div class="password-container">
          <img class="lock-icon" src="/assets/images/lock.png" alt="error">
          <input required class="password" name="pass" type="password" placeholder="Enter your password" ngModel>
        <span *ngIf="errorMessage2" style="color: red;" class="span2" >{{errorMessage2}}</span>
        </div>
      </div>
      <button type="submit" class="button">Sign In</button>
    </form>
  </div>
</div>
<div class="forgot">
  Forgot your password? <a href="#">Reset Password</a>
</div>
